/*general styles*/

body {
	font-family:"Roboto", Helvetica, Arial;
	font-size:16px;
	color:#666666;
	font-weight:300;
	letter-spacing:1px;
}
p {
	line-height:25px;
	font-weight:300;
}
h1, h2, h3, h4, h5, h6 {
	color:#333333;
	text-transform:uppercase;
	font-family:"Roboto", Helvetica, Arial;
	font-weight:700;
}
a {
	color:#3498db;
	text-decoration:none;
}
a:hover, a:focus {
	color:#308ac6;
}

.btn-default {
	border-radius:2px;
	border:1px solid #bdc3c7;
	font-size:14px;
	color:#95a5a6;
	font-weight:700;
	text-transform:uppercase;
	/*padding:11px 20px;*/
}
.btn-default:hover {
	background:#fff;
	color:#3498db;
	border:1px solid #3498db;
}
.btn:active {
	box-shadow:none;
}

/*end general styles*/

/*logo*/

.navbar-brand {
	height:50px;
	width:120px;
	background:url(../images/logo.png) no-repeat;
	background-size:contain;
	text-indent:-9999px;
	outline:0;
	transition:all 0.5s;
}

.navbar-brand:hover {
	opacity:0.7;
}

/*end logo*/

/*navigation*/

.navbar-default {
	background:none;
	border:none;
	padding:30px 30px;
	z-index:999;
	transition:all 0.5s;
}
.navbar-default .navbar-nav > li > a {
	font-size:17px;
	font-weight:700;
	text-transform:uppercase;
	color:#95a5a6;
	padding:11px 0;
	text-align:center;
	transition:all 0.5s;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color:#666666;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	color:#666666;
	background:none;
	outline:0;
}
.navbar-toggle {
	border:none;
	margin-right:0;
	text-align:center;
	color:#666666;
}
.navbar-default .navbar-toggle .icon-bar {
	/*background-color:#666666;*/
	background-color:#cccccc;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background:none;
	outline:none;
}
.navbar-default .navbar-collapse {
	border:none;
	margin-top:10px;
	background: rgba(255,255,255,0.9);
	z-index:1000;
	/*background: rgba(102,102,102,0.05);*/
	border-radius:2px;
	box-shadow:none;
}

/*end navigation*/

/*splash*/

.jumbotron {
	position:relative;
	background:white url(../images/sample.gif) no-repeat;
	background-size:cover;
	margin:0;
	width:100%;
	height:auto;
	padding:0;
}
.jumbotron .jumbotron-desc-container {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	display:table;
	margin:0 5%;
}
.jumbotron .jumbotron-desc {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.jumbotron h1 {
	color:#fff;
	font-size: 25px;
	font-weight:300;
}
.jumbotron h1 span {
	font-weight:700;
}
.jumbotron h3 {
	color: #e9eded;
	font-size: 20px;
	line-height: 30px;
	font-weight: 400;
	text-transform: none;
}
.jumbotron .jumbotron-skip {
	position:absolute;
	height:40px;
	width:40px;
	background-color:rgba(255,255,255,0.8);
	right:15px;
	bottom:15px;
	border-radius:5px;
}
.jumbotron .jumbotron-skip::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height:0;
	width:0;
	border-top: 12px solid #333333;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
}

/*end splash*/

/*background*/

.background {
	padding:60px 0px;
	border-bottom: 1px solid #e3e3e3;
}
.background p {
	text-align:left;
	padding:0 30px;
}
.background p span {
	font-weight:400;
}

/*end background*/

/*sell*/

.sell {
	padding:60px 0px;
	background-color:#e3e3e3;
	border-bottom:1px solid #e3e3e3;
}
.sell h4 {
	text-align:center;
}
.sell p {
	padding:0 30px;
	text-align:left;
}
.sell-convo, .sell-record, .sell-priv {
	margin-bottom:60px;
}

/*end sell*/

/*texting preview*/

.heading{
	margin-bottom: 30px;
}
.heading h1{
	background: url(../images/heading.png) no-repeat;
	background-position: center bottom;
	padding: 0 0 20px 0;
	text-align:center;
}

.texting-preview {
	padding:60px 0px;
	border-bottom: 1px solid #e3e3e3;
}
.texting-preview p {
	text-align:left;
	padding:0 5%;
}
.texting-preview p span {
	font-weight:400;
}

/*end texting preview*/

/*promo*/

.promo {
	background:#333333 url(../images/poster.jpg) no-repeat;
	background-position:center center;
	background-size:auto 100%;
	height:400px;
	position:relative;
}
.play::before, .play::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.play::before {
	width: 80px;
	border: 2px solid #FFF;
	border-radius: 80px;
	height: 80px;
}
.play:hover::before {
	border: 2px solid #308ac6;
}
.play::after {
	height:0;
	width:0;
	border-bottom: 20px solid transparent;
	border-left: 24px solid #FFF;
	border-top: 20px solid transparent;
	margin-left:4px;
}
.play:hover::after{
	border-left: 24px solid #308ac6;
}


/*end promo*/

/*team*/

.team {
	padding:60px 0;
	border-bottom:1px solid #e3e3e3;
}
.team .carousel-inner .team-pic {
	display:block;
	margin:0 auto;
	height:160px;
	width:auto;
	border-radius:50%;
}
.team .carousel-inner h4, .team .carousel-inner .role {
	text-align:center;
}
.team .carousel-inner p {
	width:80%; 
	margin-left:auto; 
	margin-right:auto;
	text-align:left;
}
.team .carousel-inner p span {
	font-weight:400;
}
.team .carousel-control {
	top:60px !important;
}

.carousel-control {
	position:absolute;
	top:0;
	bottom:0;
	width:auto;
	height:44px;
	border:1px solid #bdc3c7;
	border-radius:0;
	padding:11px 20px;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	color:#95a5a6;
	background-image:none !important;
	background-color:rgba(255,255,255,0.6);
	text-align:center;
	text-shadow:none;
	opacity:1;
}
.carousel-control.right {
	border-right:none;
}
.carousel-control.left {
	border-left:none;
}
.carousel-control:hover, .carousel-control:active {
	color:#3498db;	
}
.carousel-control.right:hover, .carousel-control.right:active {
	border-color:#3498db initial #3498db #3498db;
}
.carousel-control.left:hover, .carousel-control.left:active {
	border-color:#3498db #3498db #3498db initial;
}

/*end team*/

/*support*/

.support {
	padding:60px 0;
	background-color:#e3e3e3;
}
#textup-support blockquote, .support .carousel-inner .cite {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
#textup-support blockquote {
	background:url(../images/quote.png) no-repeat;
	background-position:center top;
	padding:60px 0 0 0;
	margin-bottom:30px;
	border-left:none;
	font-size:18px;
	letter-spacing:1px;
	line-height:30px;
	font-style:italic;
	text-align:center;
}
.support .carousel-inner .cite { 
	text-align:right; 
}
.support .carousel-inner .cite span {
	font-weight:400;
}
.support .carousel-inner .cite-attrib {
	display:inline-block; 
	vertical-align:middle;
}
.support .carousel-inner .cite-pic {
	height:100px;
	width:auto;
	border-radius:50%;
}
.support .carousel-control {
	top:-10px;
}

/*end support*/

/*news*/

.news {
	padding:60px 0;
	border-bottom:1px solid #e3e3e3;
}
.news .news-story {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}
.news .news-icons {
	margin:10px 0;
	height:30px;
	text-align:center;
}
.news .news-icons img {
	display:inline-block;
	max-height:100%;
	width:auto;
	margin:0 5px;
}
.news .carousel-inner h3 {
	text-align:center;
}
.news .carousel-inner p span {
	font-weight:400;
}
.news .carousel-inner .news-read-more {
	margin-top:20px;
	text-align:center;
}
.news .carousel-indicators {
	bottom:-50px;
}
.news .carousel-indicators li {
	background-color:transparent;
	border-color:rgba(104,105,105,0.6);
}
.news .carousel-indicators li.active {
	background-color:#0078c2;
	border-color:transparent;
}

/*end news*/

/*partners*/

.partners {
	padding:60px 0;
	border-bottom:1px solid #e3e3e3;
	width:80%;
	margin:0 auto;
	text-align:center;
}
.partners .partner {
	display:inline-block;
	max-width:25%;
	text-align:center;
	vertical-align:middle;
}
.partners .partner img {
	max-width:75%;
	max-height:100px;
}
#partner-hohcdc { max-width:85%; }
#partner-swearer { max-width:100%; }

/*end partners*/

/*call to action*/

.call-to-action {
	padding:60px 0;
	width:100%;
	background-color:#e3e3e3;
	text-align:center;
}
.call-to-action .action {
	width:80%;
	margin:0 auto;
}
.call-to-action .action:not(:last-child) {
	margin-bottom:60px;
}

/*end call to action*/

/*footer*/

footer {
	padding:60px 0;
}
.copyright small{
	color:#95a5a6;
	font-size:13px;
}

/*end footer*/

/*responsive*/

@media(min-width:768px) and (max-width:991px){
	.newsletter .input-group { width:60%; margin:0 auto;}
}

@media(min-width:768px) {
	p {	line-height:30px; }
	.navbar-default {
		width:100%;
		position:fixed;
		top:0;
		left:0;
		border-radius:0;
		padding:60px 50px 0 50px;
		margin:0;
		background:none;
		border:none;
	}
	.navbar-default.nav-background {
		background-color:rgba(255,255,255,0.9);
		padding:10px 20px 0 20px;
	}
	.navbar-default.nav-background .navbar-nav > li > a:hover, .navbar-default.nav-background .navbar-nav > li > a:focus {
		color:#333333;
	}
	.navbar-default.nav-background .navbar-nav>.active>a, .navbar-default.nav-background .navbar-nav>.active>a:hover, .navbar-default.nav-background .navbar-nav>.active>a:focus{
		color:#333333;
	}
	.navbar-default.smaller { padding:5px 10px 5px 10px; }
	.navbar-default.smaller .navbar-brand {
		height:40px;
		margin-top: 5px;
	}
	.navbar-default.smaller .navbar-nav > li > a { font-size:15px; }
	.navbar-default .navbar-collapse { background:none; width:auto; }
	.navbar-default .navbar-nav { float:right; }
	.navbar-default .navbar-nav>li{ margin-left:40px; }
	.navbar-default .navbar-nav>li>a{ padding:0;}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color:#fff;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
		color:#fff;
	}
	.jumbotron h1 { font-size:30px; }
	.jumbotron h1, .jumbotron h3 { width:60%; float:right; text-align:right; margin-right:30px; }
	.container { width:auto; }
	.support .carousel-inner .cite-attrib { margin-right:10px; }
	.news .news-story { width:60%; }
}

@media(min-width:992px) and (max-width:1999px){
	.team .carousel-inner p { width:60%; }
}

@media(min-width:992px){
	.background p { width:60%; margin:0 auto; }
	#textup-support blockquote { width:60%; margin-left:auto; margin-right:auto; }
	.sell-convo, .sell-record, .sell-priv { margin-bottom:0; }
	.call-to-action .action { float:left; width:50%; margin:0 !important; padding:0 5%; }
}

@media(min-width:1200px){
	/*team*/
	.team { padding-left:0; padding-right:0; }
	.team .team-all { width:50% !important; }
	.team .team-all img { width:100% !important; }
	.team .carousel { width:100%; text-align:left;}
	.team .team-desc { width:40%; float:left; }
	.team .carousel-inner { width:75%; margin:0 auto; }
	.team .carousel-inner p { width:100%; }
	.carousel-pics {
		float:left;
		vertical-align:top;
		width:60%;
		height:auto;
	}
	.carousel-pics .carousel-indicators {
	 	position:relative; 
	 	left:0;
	 	width:auto;
		bottom:0;
		z-index:auto;
		padding-left:0;
		margin-left:0;
		text-align:left;
		list-style:none;
		background-color:none;
	}
	.carousel-pics .carousel-indicators .active { background-color:transparent; }
	.carousel-pics .carousel-indicators .active img { opacity:0.9; }
	.carousel-pics .carousel-indicators li {
		display: inline-block;
		vertical-align:bottom;
		overflow:hidden;
		width:25%;
		height:178px;
		margin:0;
		text-indent:0;
		cursor: pointer;
		border:none;
		border-radius:0;
		background-color:#415161;
	}
	.carousel-pics .carousel-indicators li:hover { background-color:#7a8590; }
	.carousel-pics .carousel-indicators li img {
		width:100%;
		margin: 0;
		padding: 0;
		opacity: 0.45;
	}
	/*end team*/

	/*support*/
	.support { padding:30px 0 0 0; background-color:#bfc5ca; }
	.support .support-desc { padding:30px 0; background-color:#e3e3e3; position:relative; }
	.support .carousel-pics { width:100%; padding:15px 0; }
	.support .carousel-pics .carousel-indicators { text-align:center; }
	.support .carousel-pics .carousel-indicators li.active::after {
		content:"";
		position:absolute;
		transform: translateX(-50%);
		bottom:-15px;
		height:8px;
		width:8px;
		border-radius:50%;
		background-color:#0078c2;
	}
	.support .carousel-pics li { width:100px; height:auto; border-radius:50%; margin:0 1%; }
	.support .carousel-pics li img { border-radius:50%; }
	#textup-support .cite { width:60%; margin-left:auto; margin-right:auto; }
	/*end support*/
}

/*end responsive