/*start general*/
html {
    font-size: 14px;
}
@media all and (min-width:400px) {
    html {
        font-size: 17px;
    }
}
body {
    margin: 0;
    font-family: sans-serif;
}
.splash {
    font-size: 3rem;
}
section {
    font-size: 1.2rem;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 2.2em;
}
h3 {
    font-size: 1.9em;
}
h4 {
    font-size: 1.5em;
}
.btn, .nav-toggle {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
}
.btn.btn-blue {
    background: rgb(27, 165, 224);
    color: white;
}
.btn.btn-green {
    background: #449d44;
    color: white;
}

/*end general*/

/*start navbar*/

/*collapsed navbar*/
nav {
    width: 100%;
    position: relative;
}
nav > span, button.nav-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
nav > span.nav-header {
    left: 5px;
}
nav > span.nav-header a.logo {
    background: url(../images/logo.png) left center no-repeat;
    background-size: contain;
    height: 3em;
    width: 5em;
    display: inline-block;
    text-decoration: none;
}
nav > span.nav-header > * {
    vertical-align: middle;
}
nav > span.nav-header > span.message, nav > span.nav-items {
    display: none;
}
button.nav-toggle {
    background: transparent;
    right: 5px;
    border: 1px solid LightGray;
}
button.nav-toggle:focus, button.nav-toggle:active, button.nav-toggle:hover {
    background: LightGray;
}
button.nav-toggle > span.icon-bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 3px 0;
    background-color: rgb(96, 97, 98);
}
nav > span.nav-items > span {
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(96, 97, 98);
}
nav > span.nav-items > span > a:not(.btn) {
    text-decoration: none;
    color: LightGray;
}
nav > span.nav-items > span > a:not(.btn):hover {
    color: rgb(27, 165, 224);
}

/*nav items drawer*/
@media all and (max-width:1014px) {
    span.nav-items.visible {
        display: block;
        z-index: 999;
    }
    span.nav-items {
        width: 100%;
        transform: none;
        top: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        border-bottom: 2px solid rgb(96, 97, 98);
    }
    span.nav-items > span {
        display: block;
        width: 100%;
        margin: 1.5em 0;
        text-align: center;
    }
}

/*only message showing*/
@media all and (min-width:615px) {
    nav > span.nav-header > span.message {
        display: inline;
    }
    nav > span.nav-header span.message {
        margin-left: 1em;
    }
}

/*full navbar*/
@media all and (min-width:1035px) {
    button.nav-toggle {
        display: none;
    }
    nav > span.nav-items {
        display: inline;
        right: 5px;
    }
    nav > span.nav-items > span {
        line-height: 4rem;
        margin: 0 0.5em;
    }
}

/*end navbar*/

/*start calc solution for sticky footer problem*/
nav {
    height: 4em;
}
main {
    min-height: calc(100vh - 8em);
    box-sizing: border-box;
}
footer {
    height: 4em;
}

/*end calc solution for sticky footer problem*/

/*start footer*/
footer {
    background: LightGray;
    position: relative;
    height: 4em;
}
footer > span {
    top: 50%;
    transform: translateY(-50%);
}
footer > span.left > span {
    position: relative;
    padding-left: 1em;
}
footer > span.left > span:after {
    position: absolute;
    content: "\00a9";
    left: 0;
}
footer > span.left {
    position: absolute;
    left: 1em;
}
footer > span.right {
    display: none;
    position: absolute;
    right: 1em;
}
@media all and (min-width:460px) {
    footer > span.right {
        display: inline-block;
    }
}

/*end footer*/

/*start centering content on screens*/
#about-description > article, #about-partners, #openings-intro > p, #openings-desc {
    width: 90%;
    margin: 0 auto;
}
#openings-desc {
    width: 100%;
    margin: auto;
}
@media all and (min-width:875px) {
    #openings-desc {
        width: 80%;
    }
}
@media all and (min-width:1015px) {
    #about-description > article, #about-partners, #openings-intro > p, #openings-desc {
        width: 70%;
    }
}

/*end centering content on screens*/

/*start description*/
#about-description > header {
    height: 85vh;
    text-align: center;
    padding-top: 5vh;
    box-sizing: border-box;
    color: white;
    background: rgb(27, 165, 224);
    background-image: linear-gradient(transparent 65%, rgba(0, 0, 0, 0.5) 35%);
}
#about-description > header img {
    height: 70%;
}
@media all and (max-width:849px) {
    #about-description {
        position: relative;
        overflow: hidden;
    }
    #about-description > header h3, #about-description > header img {
        position: absolute;
    }
    #about-description > header h3 {
        top: 63vh;
        left: 0;
        right: 0;
    }
    #about-description > header > img {
        height: 57vh;
    }
    #about-description > header > img:nth-child(1) {
        right: 35%;
    }
    #about-description > header > img:nth-child(2) {
        left: 65%;
    }
}
#about-description > article {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
}
#about-description > article > div {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#about-description > article > div > span > i {
    display: block;
    background: rgb(27, 165, 224);
    border-radius: 100%;
    width: 2em;
    height: 2em;
    line-height: 2em;
    margin: 1em auto;
    color: white;
    font-weight: 700;
}
@media all and (min-width:600px) {
    #about-description > article {
        text-align: left;
    }
    #about-description > article > div {
        width: 100%;
    }
    #about-description > article > div > span {
        display: inline-block;
        vertical-align: top;
        width: 30%;
        text-align: center;
    }
}

/*end description*/

/*start team*/
#about-team {
    width: 100%;
    text-align: center;
    background: LightGray;
    border-color: rgb(96, 97, 98);
    border-style: solid;
    border-width: 1px 0;
}
#about-team article {
    background-repeat: no-repeat;
    overflow: hidden;
}
#about-team .eric {
    background-image: url(../images/team/eric.png);
}
#about-team .hanna {
    background-image: url(../images/team/hanna.png);
}
#about-team .michelle {
    background-image: url(../images/team/michelle.png);
}
#about-team article:not(.overlay):hover {
    cursor: pointer;
    opacity: 0.8;
}
#about-team article div {
    visibility: hidden;
    color: white;
    font-weight: 700;
}
#about-team article.overlay div {
    visibility: visible;
}
@media all and (max-width:614px) {
    #about-team {
        position: relative;
    }
    #about-team article {
        height: 20vh;
        width: 20vh;
        margin: 1em auto;
        background-size: contain;
        border-radius: 50%;
    }
    #about-team article div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(96, 97, 98, 0.8);
    }
    #about-team article div p {
        width: 80%;
        margin: 0 auto;
    }
    #about-team article div span {
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
    }
}
@media all and (min-width:615px) {
    #about-team {
        font-size: 0.9rem;
        height: 40vh;
    }
    #about-team article {
        display: inline-block;
        width: calc(100%/3);
        max-width: 300px;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    #about-team article div {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1.5em 1em;
        height: 100%;
    }
    #about-team article div > h4 {
        margin: 0;
    }
    #about-team article div span {
        display: none;
    }
}

/*end team*/

/*start partners*/
#about-partners {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}
#about-partners > article > img {
    height: 3em;
    margin: 0.2em;
}
@media all and (min-width:400px) {
    #about-partners > article > img {
        height: 4em;
        margin: 0.5em;
    }
}

/*end partners*/

/*start openings*/
#openings-intro {
    width: 100%;
    background-color: rgb(27, 165, 224);
    padding: 2em 0;
    box-sizing: border-box;
    color: white;
}
.openings-icons {
    content: " ";
    height: 100px;
    background-repeat: no-repeat;
    background-image: url(../images/jobs-icons.png);
    background-size: cover;
    position: relative;
}
.openings-icons.business-adv {
    background-position: 0 5px;
    width: 76px;
}
.openings-icons.frontend-dev {
    background-position: -106px 5px;
    width: 112px;
}
.openings-icons.community-coord {
    background-position: -238px 5px;
    width: 99px;
}
.openings-icons.active:after {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: " ";
    background: rgb(27, 165, 224);
    border-radius: 50%;
    height: 8px;
    width: 12px;
}
#openings-select {
    background: LightGray;
    text-align: center;
    box-sizing: border-box;
    padding: 1em 0;
}
#openings-select p {
    color: white;
    font-weight: 700;
    font-size: 0.8em;
    margin-top: 0;
}
#openings-select > article > div {
    display: inline-block;
    margin: 0;
    cursor: pointer;
}
@media all and (min-width:400px) {
    #openings-select > article > div {
        margin: 0 1em;
    }
}
#openings-desc {
    overflow: hidden;
}
#openings-desc > article {
    display: none;
    transition: all 0.5s;
    margin: 0;
}
#openings-desc > article:after {
    content: " ";
    display: table;
    clear: both;
}
#openings-desc > article.active {
    display: block;
}
#openings-desc > article > div {
    width: 100%;
}
#openings-desc > article > div > aside {
    background-color: rgb(27, 165, 224);
    color: white;
}
#openings-desc > article > div > aside h5 {
    margin-bottom: 0;
}
#openings-desc > article > div > div, #openings-desc > article > div > aside {
    box-sizing: border-box;
}
@media all and (max-width:729px) {
    #openings-desc > article > div h4 {
        text-align: center;
    }
    #openings-desc > article > div > div, #openings-desc > article > div > aside {
        padding: 0 5%;
    }
    #openings-desc > article > div > aside {
        overflow: hidden;
        box-sizing: border-box;
        padding-bottom: 3%;
    }
}
@media all and (min-width:730px) {
    #openings-desc > article > div > div, #openings-desc > article > div > aside {
        float: left;
        padding: 0 2em;
    }
    #openings-desc > article > div > div {
        width: 55%;
    }
    #openings-desc > article > div > aside {
        width: 45%;
    }
}

/*end openings*/

/*start typedjs*/
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*end typedjs*/