.sprite { background: url('../../images/sprites.png') no-repeat top left; width: 200px; height: 200px; margin: 0 auto; }
.sprite.amos-sprite { background-position: 0 0; width: 64px; height: 80px; }
.sprite.brown-sprite { background-position: 0 -90px; width: 160px; height: 80px; }
.sprite.eric-sprite { background-position: 0 -180px; width: 279px; height: 280px; }
.sprite.hanna-sprite { background-position: 0 -470px; width: 281px; height: 280px; }
.sprite.hohcdc-sprite { background-position: 0 -760px; width: 104px; height: 80px; }
.sprite.logo-sprite { background-position: 0 -850px; width: 92px; height: 50px; }
.sprite.michelle-sprite { background-position: 0 -910px; width: 295px; height: 280px; }
.sprite.rhody-sprite { background-position: 0 -1200px; width: 74px; height: 80px; }
.sprite.rich-sprite { background-position: 0 -1290px; width: 193px; height: 80px; }
.sprite.risd-sprite { background-position: 0 -1380px; width: 80px; height: 80px; }
.sprite.sii-sprite { background-position: 0 -1470px; width: 85px; height: 80px; }
.sprite.swearer-sprite { background-position: 0 -1560px; width: 150px; height: 80px; }
.sprite.textup-promo-01-sprite { background-position: 0 -1650px; }
.sprite.textup-promo-02-sprite { background-position: 0 -1860px; }
.sprite.textup-promo-03-sprite { background-position: 0 -2070px; }
.sprite.textup-promo-04-sprite { background-position: 0 -2280px; }
.sprite.textup-promo-05-sprite { background-position: 0 -2490px; }
.sprite.textup-promo-06-sprite { background-position: 0 -2700px; }
.sprite.textup-promo-07-sprite { background-position: 0 -2910px; }
.sprite.textup-promo-08-sprite { background-position: 0 -3120px; }
.sprite.textup-promo-09-sprite { background-position: 0 -3330px; }
.sprite.textup-promo-10-sprite { background-position: 0 -3540px; }
.sprite.textup-promo-11-sprite { background-position: 0 -3750px; }
.sprite.textup-promo-12-sprite { background-position: 0 -3960px; }
.sprite.uwri-sprite { background-position: 0 -4170px; width: 138px; height: 80px; }
.sprite.venturewell-sprite { background-position: 0 -4260px; width: 142px; height: 80px; }
.sprite.y2y-sprite { background-position: 0 -4350px; width: 184px; height: 80px; }
