.icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    margin: 3px 0;
    background-color: rgb(96, 97, 98);
}

$nav-height: 10vh;
$teaser-gap: 5vh;
nav {
    height: $nav-height;
    width: 100%;
    position: relative;

    .nav-items {
        @extend %border-box;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .nav-item {
            @extend %border-box;
            @extend .text-center;
            @extend .clickable;
            font-weight: $font-weight-bold;
            padding: $padding;

            a {
                text-decoration: none;
            }
            &:hover {
                background-color: $bg-color;
            }
        }
    }

    @include mq($until: desktop) {
        .nav-items {
            display: none;
            position: absolute;
            top: 100%;
            background-color: $bg-lightest-color;
            z-index: 999;
            width: 100%;
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding-bottom: 2 * $padding;

            .nav-item {
                width: 100%;
            }
        }
    }
    @include mq($from: desktop) {
        .nav-toggle {
            display: none !important;
        }
        .nav-items {
            display: block !important;
            float: right;

            .nav-item {
                padding: 0 $padding;
                line-height: $nav-height;
                display: inline-block;

                &:last-child {
                    margin-right: $padding;
                }
            }
        }
    }
}

#about-overview {
    $overview-height: 100vh - $nav-height -$teaser-gap;
    $portion-demo: 0.65;
    $gradient-percent: (0.65 * 100 * 1% - 3%);
    height: $overview-height;
    background: $brand-color;
    background-image: linear-gradient(
        transparent $gradient-percent,
        rgba(0, 0, 0, 0.5) $gradient-percent
    );

    $demo-height: $overview-height * 0.65;
    .animated-container {
        @extend %border-box;
        position: relative;
        overflow: hidden;
        height: $demo-height * 1.1;
        text-align: center;

        .animated-item {
            height: $demo-height;
            position: absolute;

            &:first-child {
                right: 39%;
            }
            &:last-child {
                left: 59%;
            }
        }
    }
}

#about-team {
    .team-member {
        position: relative;
        overflow: hidden;
        background-color: $bg-color;
        transition: background-color 0.5s;

        @include mq($until: tablet) {
            border-bottom: 1px solid $border-color;

            &:last-child {
                border-bottom-width: 0;
            }
        }

        &:hover {
            background-color: shade($bg-color);
        }
        .overlay {
            @extend %border-box;
            @extend %vertical-scroll;
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $bg-dark-color;
            font-weight: $font-weight-bold;
            opacity: 0.95;
            padding: 1em;
        }
    }
}

footer {
    overflow: hidden;
    width: 100%;
}
